<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Freshtoons</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>

    <%- include('partials/nav') %>


    <div class="main-container">


        <div class="content">
            <h2>About</h2>

            <div class="about">
                <p>About the product</p>
            </div>
        </div>



        <div class="preview">
            <div class="text">
                <h6>Donate to Palestine</h6>
                <p>If you find the app useful and have the spare money, please consider donating to the Red Cross' ongoing efforts in Palestine'</p>
            </div>
            <div class="button">
                <button type="button">Donate Here</button>
            </div>
        </div>
    </div>
</body>
</html>
</html>