<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Freshtoons</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>

    <%- include('partials/nav') %>


    <div class="main-container">


        <div class="content">
            <h1>All Set Up!</h1>

            <div class="about">
                <p>That's the playlist all setup! You should now find a playlist named `freshtoons` that will update every day at 00:00GMT with the 30 most recent  </p>
            </div>

            <h3>Customise</h2>
             <div class="customise">
                <p>The playlist is fully customisable! Feel free to change the display picture or name anytime as much as you like!</p>
            </div>

            <h3>Delete</h2>
             <div class="customise">
                <p>If you get sick of the playlist taking up space in your library at any point simply delete it and the app will know not to recreate it!</p>
            </div>
        </div>

    </div>
</body>
</html>
</html>